<!DOCTYPE html>
<html>
<head>

	<% include partials/head.ejs %>

</head>

<body class="center">

	<% include partials/nav.ejs %>

	<div class="panel-body" id="content">

			<br>
			<div class="panel panel-default" style="background-color:rgba(202,202,202,0.3);">
				<div class="panel-body">
					<%- include('../html/'+post.html) %>
					<% if (post.canvas.length > 0)  { %>
						<canvas id="canvas"></canvas>
						<% post.canvas.forEach(function(src){ %>
							<script type="text/javascript" src="/js/<%= src %>"></script>
						<% }) %>
					<% } %>
					<p class="tags">tags ⇒ 
						<% post.tags.forEach(function(tag,idx,array) { %>
						<a href="/tags/<%= tag %>"><%= tag %></a>
						<% if (idx!==array.length-1) { %> ‒ <% } %>
						<% }); %> 
					</p>		
					<p class="date"><%= post.date %></p>
					
				</div>
			</div>

	</div> <!-- Content End -->
	
	<% include partials/copystuff.ejs %>

</body>
</html>