	<div class="container" id="content">	
		<div class="panel panel-default" style="background-color:rgba(202,202,202,0.2);">
			<div class="panel-body">
				<h1 class="text-center"><%= header %> post #1</h1>
				<h3 class="text-center"><%= ingress %></h3>
				<p> <%= content %> </p>
			</div>
		</div>

		<div class="panel panel-default" style="background-color:rgba(202,202,202,0.2);">
			<div class="panel-body">
				<h1 class="text-center"><%= header %> post #2</h1>
				<h3 class="text-center"><%= ingress %></h3>
				<p> <%= content %> </p>
			</div>
		</div>
	</div>